@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    background-color: rgb(255, 255, 255);
    line-height: normal;
}

header{
    background-color: #1F2937;
    color: white;
    padding-bottom: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

nav ul {
    display: flex;
    gap: 24px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: white;
}

.hero{
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 60px 40px 0;
}



.hero-image{
    flex: 1;
    background-color: #6d747d;
    color: #e5e7eb;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-text{
    flex: 1;
}
.hero-text h1{
    font-size: 48px;
    font-weight: 900;
    color: #ffffff;
    line-height: 1.1;
    
}

.hero-text p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px 0 16px;
}

.signup a{
    display: inline-block;
    background-color: #3882f6;
    color: white;
    text-decoration: none;
    padding: 8px 32px;
    border-radius: 8px;
    cursor: pointer;
}
h2{
    font-size: 30px;
    font-weight: bolder;
   font-family: 'Roboto';
    justify-content: center;
    padding: 20px;
    display: flex;
    
}
.content{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 30px;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}
.box{
    width: 160px;
    height: 160px;
    border: 3px solid #3882f6;
    border-radius: 12px;
    margin-bottom: 8px;
}
.subtext{
    text-align: center;
    font-size: 14px;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px 40px;
}

.quote-content{
    font-size: 32px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    max-width: 800px;
}

.author{
    width: 100%;
    max-width: 800px;
    text-align: right;
    margin-top: 8px;
   
}

.author p{
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    color: #1F2937;
}